version: '3'

services:
    frontend:
        build: ./BackEnd
        environment:
            VUE_SERVER_PORT: {{ VUE_SERVER_PORT }}
            COUCHDB_HOST: {{ COUCHDB_HOST }}
        ports:
            - {{ VUE_SERVER_PORT }}:{{ VUE_SERVER_PORT }}
        command: npm run start

    backend:
        build: ./FrontEnd
        environment:
            BACK_END_PORT: {{ BACK_END_PORT }}
        ports:
            - {{ BACK_END_PORT }}:{{ BACK_END_PORT }}
        stdin_open: true