---
- hosts: dbServers
  vars_files:
    - host_vars/constant.yaml
  gather_facts: true
  roles:
    - role: deploy-couchdb

- hosts: dbMaster
  vars_files:
    - host_vars/constant.yaml
  gather_facts: true
  roles:
    - role: deploy-couchdb-cluster
#
#- hosts: instance2
#  vars_files:
#    - host_vars/constant.yaml
#  gather_facts: true
#  roles:
#    - role: copy-rep
#    - role: deploy-harvester-covid
#
#- hosts: instance3
#  vars_files:
#    - host_vars/constant.yaml
#  gather_facts: true
#  roles:
#    - role: copy-rep
#    - role: deploy-harvester-covid
#
#- hosts: instance4
#  vars_files:
#    - host_vars/constant.yaml
#  gather_facts: true
#  roles:
#    - role: copy-rep
#    - role: deploy-stream4
#
- hosts: instance1
  vars_files:
    - host_vars/constant.yaml
  gather_facts: true
  roles:
    - role: copy-rep
    - role: deploy-couchdb-data

#- hosts: instance4
#  vars_files:
#    - host_vars/constant.yaml
#  gather_facts: true
#  roles:
#    - role: copy-rep
#    - role: deploy-frontend