# Qi Li & 1138875 & lql4@student.unimelb.edu.au
# Yuheng Guo & 1113036 & yuhengg1@student.unimelb.edu.au
# Zhaoyang Zhang  & 1240942 & zhaoyangz1@student.unimelb.edu.au
# Zhaoyu Wei  & 1258372 & zhangyuw@student.unimelb.edu.au
# Xiaohan Ma  & 1145763 & mxm3@student.unimelb.edu.au
- hosts: instances
  vars:
    ansible_python_interpreter: /usr/bin/python3

  vars_files:
    - host_vars/config.yaml
    - host_vars/deploy.yaml
  gather_facts: true

  roles:
    - role: install-add-proxy
    - role: install-dependencies
    - role: install-copy-rep
    - role: install-mount-volume